.faq-content {
    background-color: #e5ebeb;
    padding: 30px;
    height: 80px ;
    margin-top: -19px;
    width: 100%;
    margin-left: 240px; 

  }
  .faq-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .faq-form input,
  .faq-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    gap: 10px;
  }
  
  .form-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-buttons button[type="button"] {
    background-color: #222020;
  }
  /* //add faq form */
  .faq-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .faq-form input,
  .faq-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    gap: 10px;
  }
  
  .form-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-buttons button[type="button"] {
    background-color: #222020;
  }
  

  /* //display faq  */
  .faq-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
.faq-table th{
  background-color: #ccc;

}
.faq-table th,
.faq-table td {
    padding: 12px;
    border: 1px solid #363434;
    text-align: center;
}

  .table-img {
    height: 80px;
    object-fit: contain;
  }

/* //delete edit btn */



.edit-btn, .delete-btn {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.edit-btn:hover {
  background-color: #467c48;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  background-color: #ad4544;
}

/* //sort */
.sort-dropdown {
  position: absolute;
  top: 134%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 150px;
}

.sort-option {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.sort-option:hover {
  background-color: #f0f0f0;
}

.sort-option input {
  margin-right: 8px;
}
