.services-content {
    /* flex: 1; */
    background-color: #e5ebeb;
    padding: 30px;
    height: 80px ;
    margin-top: -19px;
    width: 100%;
  }

  .service-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .service-form input,
  .service-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    gap: 10px;
  }
  
  .form-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-buttons button[type="button"] {
    background-color: #8b8888;
  }
  